* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;   
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.plan {
    background-color: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted {
    background-color: #19b84c;
    color: white;
    box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.5);
}


.plan__annotation {
    background-color: white;
    color: #19b84c;
    padding: 2px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}   

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan__features {
margin: 0px;    list-style: none;
padding: 0px;
}

.plan__feature {
    margin: 8px 0px;
}




#key-features {
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;
}

#key-features  .section-title {
    color: white;
    margin: 32px;
}

.key-features__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;   
    height: 128px;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__description {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

                    /*~~~~~~~~~ Header Nav bar ~~~~~~*/

/* h1 {
    font-family: sans-serif;
} */




