main {
    padding-top: 32px;
}

.background {
    background: url("../images/plans-background.jpg");
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.package {
    display: block;
    width: 80%;
    border: 4px solid #0e4f1f;
    border-left: none;
    margin: 16px 0px;
    padding: 16px 8px;
}


/*Use the A to target link decorations.*/
.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}

/*The left hand side of the border was not affected by the hover. One way to fix this is to add !important after the border color. This should only be done in rare occasions. I think it's probably better to just to the redundant code we did below in #free:hover*/
.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color: #ff5454;
}

.package__title {
    text-align: left;
}

.package__subtitle {
    color: #979797;
}

.package__info {
    border: 1px solid #0e4f1f;
    padding: 16px;
    color: #0e4f1f;
    font-size: 20px;
    background-color: white;
}

/* Clears the float and won't interfere with float stuffs. Don't do this, it's not elegant*/
.clearfix {
    clear: both
}

#plus {
    background-color: rgba(213, 255, 220, 0.95);
}
#free {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border-left: 4px solid #0e4f1f;
    border-right: none;
    text-align: right;
}


#free:hover,
#free:active {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color: #ff5454;
}

#premium {
    background-color: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}